<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blastic.lostandfound"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.pawhub.lostandfound.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.irving.mapas.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyANeyKVdlgDw4TREGKsrMgf_pxaez1nMkw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.blastic.lostandfound.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blastic.lostandfound.LoginScreen"
            android:label="@string/title_activity_login_screen" >
            <intent-filter>
                <data
                    android:host="tweeter"
                    android:scheme="callback" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.blastic.lostandfound.Home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.blastic.lostandfound.ReportActivity"
            android:icon="@drawable/app_name2"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.blastic.lostandfound.RegisterActivity"
            android:icon="@drawable/app_name2"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.blastic.lostandfound.ListReportsActivity"
            android:icon="@drawable/app_name2"
            android:label="@string/title_activity_list_reports" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.blastic.lostandfound.DetailsActivity"
            android:icon="@drawable/app_name2"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="com.blastic.lostandfound.SettingsActivity"
            android:icon="@drawable/app_name2"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.blastic.lostandfound.FullImage"
            android:label="@string/title_activity_full_image" >
        </activity>
    </application>

</manifest>